In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
from pathlib import Path

pd.set_option("display.max_columns", 500)

## Creating Top10 HCPCS CMS PUF file

In [ ]:
CY2017 = pd.read_csv("./data/Medicare_Provider_Util_Payment_PUF_CY2017.txt", sep="\t",header=0,skiprows=[1])

In [ ]:
df = CY2017.copy()

In [ ]:
df.columns

In [ ]:
df['Total_submitted_chrg_amt'] = df['line_srvc_cnt'] * df['average_submitted_chrg_amt']
df['Total_Medicare_payment_amt'] = df['line_srvc_cnt'] * df['average_Medicare_payment_amt']

In [ ]:
df.head()

In [ ]:
Total_submitted = df.Total_submitted_chrg_amt.sum()

In [ ]:
#per-row (per HCPS not grouped) --(wrong code)
top = df.sort_values(by='Total_submitted_chrg_amt', ascending=False).hcpcs_code.unique() 
x = df[df.hcpcs_code.isin(top[0:10])]
x.shape

In [ ]:
x.hcpcs_code.value_counts()

In [ ]:
# sort by top 10 hcpcs:
top_hcpcs = df.groupby(['hcpcs_code'])['Total_submitted_chrg_amt'].sum().sort_values(ascending=False)
top10_hcpcs = top_hcpcs[0:10].index
top10_hcpcs

In [ ]:
df_top10 = df[df.hcpcs_code.isin(top10_hcpcs)]
df_top10.shape

In [ ]:
df_top10.

In [ ]:
df_top10.hcpcs_code.value_counts() #number of submitted charges
# bene_unique_cnt / total_bene_unique_cnt
# unique_npi / total_unique_npi

In [ ]:
pd.DataFrame({'Total_submitted_sum': top_hcpcs[1:10],\
              'Total_submitted_percent': ((top_hcpcs[0:10] / Total_submitted) * 100)\
              ''})

In [ ]:
top_hcpcs[1:10]

In [ ]:
top_hcpcs[0:10] / Total_submitted * 100

In [ ]:
df_top10.groupby('hcpcs_code')['npi'].count()

In [ ]:
#df_top10.to_csv(Path("data","top10_hcpcs.csv")) #create a new csv file

In [ ]:
#sort via highest avg Total_average_submitted_charge_amount
#pick top 10 
#find proportion for the top 10
# drop all columns not in top 10

# LEIE

In [22]:
#LEIE
LEIE = pd.read_csv('data/LEIE_08_2019.csv')

In [23]:
#Top10-HCPCS
df = pd.read_csv('data/top10_hcpcs.csv', index_col=0)

In [4]:
LEIE.shape

(72476, 18)

In [5]:
LEIE['exyear'] = pd.to_datetime(LEIE["EXCLDATE"], format="%Y%m%d").dt.year
LEIE['exmonth'] = pd.to_datetime(LEIE["EXCLDATE"], format="%Y%m%d").dt.month

In [25]:
LEIE.columns = LEIE.columns.str.lower()
LEIE.head()

,lastname,firstname,midname,busname,general,specialty,upin,npi,dob,address,city,state,zip,excltype,excldate,reindate,waiverdate,wvrstate
0,NaN,NaN,,14 LAWRENCE AVE PHARMACY,PHARMACY,NaN,NaN,0,NaN,14 LAWRENCE AVENUE,SMITHTOWN,NY,11787,1128a1,19880830,0,0,NaN
1,NaN,NaN,,143 MEDICAL EQUIPMENT CO,DME COMPANY,DME - OXYGEN,NaN,0,NaN,701 NW 36 AVENUE,MIAMI,FL,33125,1128b7,19970620,0,0,NaN
2,NaN,NaN,,184TH STREET PHARMACY CORP,OTHER BUSINESS,PHARMACY,NaN,1922348218,NaN,69 E 184TH ST,BRONX,NY,10468,1128a1,20180419,0,0,NaN
3,NaN,NaN,,1951 FLATBUSH AVENUE PHARMACY,PHARMACY,NaN,NaN,0,NaN,1951 FLATBUSH AVE,BROOKLYN,NY,11234,1128b5,20090319,0,0,NaN
4,NaN,NaN,,"1ST COMMUNITY HEALTH CTR, LTD",CLINIC,NaN,NaN,0,NaN,3138 W CERMAK ROAD,CHICAGO,IL,60623,1128a1,19940524,0,0,NaN

In [87]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,provider_type,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt,Total_submitted_chrg_amt,Total_Medicare_payment_amt,Target,zip
6,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,Internal Medicine,F,99223,"Initial hospital inpatient care, typically 70 ...",N,114.0,110,114,206.061579,923.991228,160.377193,160.026316,105335.000000,18283.00,False,21502
7,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,Internal Medicine,F,99232,"Subsequent hospital inpatient care, typically ...",N,627.0,233,627,72.622456,326.245614,56.366730,57.047895,204556.000003,35341.94,False,21502
8,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,Internal Medicine,F,99233,"Subsequent hospital inpatient care, typically ...",N,207.0,127,207,106.653913,461.072464,82.820676,83.196039,95442.000000,17143.88,False,21502
10,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,Internal Medicine,F,99291,Critical care delivery critically ill or injur...,N,36.0,23,36,224.170000,1400.000000,175.750000,177.656667,50400.000000,6327.00,False,21502
39,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,436233536,OH,Anesthesiology,O,99213,Established patient office or other outpatient...,N,129.0,89,129,70.930000,109.000000,50.868062,53.268372,14061.000000,6561.98,False,43623

In [86]:
df_indiv = df[df.nppes_entity_code=='I']
df_org = df[df.nppes_entity_code=='O']

In [88]:
summary = df_indiv.agg(['dtype', 'count', 'nunique', lambda x: x.isna().sum()]).rename(index={'<lambda>':'missing'}).T
summary.sort_values(by='missing', ascending=False)

                                 dtype    count  nunique missing
nppes_provider_street2          object   630950    50820  880577
nppes_provider_mi               object  1074841       32  436686
nppes_credentials               object  1454916     8427   56611
nppes_provider_last_org_name    object  1511501   178903      26
nppes_provider_first_name       object  1511503    53565      24
npi                              int64  1511527   652280       0
line_srvc_cnt                  float64  1511527     4520       0
Target                            bool  1511527        2       0
Total_Medicare_payment_amt     float64  1511527  1320040       0
Total_submitted_chrg_amt       float64  1511527   643986       0
average_Medicare_standard_amt  float64  1511527  1160785       0
average_Medicare_payment_amt   float64  1511527  1200350       0
average_submitted_chrg_amt     float64  1511527   497453       0
average_Medicare_allowed_amt   float64  1511527   244362       0
bene_day_srvc_cnt                int64  1511527     4026       0
bene_unique_cnt                  int64  1511527     1774       0
hcpcs_code                      object  1511527       10       0
hcpcs_drug_indicator            object  1511527        1       0
hcpcs_description               object  1511527       10       0
place_of_service                object  1511527        2       0
provider_type                   object  1511527       79       0
nppes_provider_state            object  1511527       60       0
nppes_provider_zip              object  1511527   173001       0
nppes_provider_city             object  1511527     9999       0
nppes_provider_street1          object  1511527   205864       0
nppes_entity_code               object  1511527        1       0
nppes_provider_gender           object  1511527        2       0
zip                             object  1511527    19933       0

In [81]:
summary = LEIE_0.agg(['dtype', 'count', 'nunique', lambda x: x.isna().sum()]).rename(index={'<lambda>':'missing'}).T
summary.sort_values(by='missing', ascending=False)

              dtype  count nunique missing
wvrstate     object      5       5   67182
busname      object   2773    2726   64414
upin         object   4855    4720   62332
specialty    object  63110     188    4077
dob         float64  63545   20255    3642
lastname     object  64412   26216    2775
firstname    object  64413   10418    2774
address      object  67178   63552       9
state        object  67183      60       4
city         object  67186    9538       1
npi           int64  67187       1       0
general      object  67187      87       0
zip          object  67187   16736       0
excltype     object  67187      22       0
excldate      int64  67187    2156       0
reindate      int64  67187       1       0
waiverdate    int64  67187       7       0
midname      object  67187    7613       0
exyear        int64  67187      43       0
exmonth       int64  67187      12       0

In [83]:
LEIE_indiv = LEIE_0[LEIE_0.busname.isnull()]
LEIE_org = LEIE_0[LEIE_0.busname.notnull()]

In [84]:
LEIE_indiv.head()

,lastname,firstname,midname,busname,general,specialty,upin,npi,dob,address,city,state,zip,excltype,excldate,reindate,waiverdate,wvrstate,exyear,exmonth
3108,AALDERS,NANCY,BLOCK,NaN,HOSPITAL,NURSE/NURSES AIDE,NaN,0,19640305.0,9527 SOUTH KENTON,OAK LAWN,IL,60453,1128b4,20030820,0,0,NaN,2003,8
3109,AALTONEN,NICKOLAS,A,NaN,IND- LIC HC SERV PRO,PHARMACY TECHNICIAN,NaN,0,19880123.0,32 W PACIFIC AVE,SPOKANE,WA,99201,1128a4,20120419,0,0,NaN,2012,4
3110,AAMIR,MUHAMMAD,SOHAIL,NaN,BUS OWNER/EXEC,HOME HEALTH AGENCY,NaN,0,19700910.0,3956 COLUMBIA COURT,BLOOMFIELD HILLS,MI,48302,1128a1,20170220,0,0,NaN,2017,2
3111,AARON,ALINA,A,NaN,IND- LIC HC SERV PRO,NURSE/NURSES AIDE,NaN,0,19870209.0,3325 N ROSE CIRCLE DRIVE,PHOENIX,AZ,85018,1128b4,20171019,0,0,NaN,2017,10
3112,AARON,BARBARA,KAY,NaN,NURSING PROFESSION,NURSE/NURSES AIDE,NaN,0,19650914.0,5911 OLD PINEYWOODS RD,JASPER,AL,35504,1128b4,20061120,0,0,NaN,2006,11

In [85]:
summary = LEIE_indiv.agg(['dtype', 'count', 'nunique', lambda x: x.isna().sum()]).rename(index={'<lambda>':'missing'}).T
summary.sort_values(by='missing', ascending=False)

              dtype  count nunique missing
busname      object      0       0   64414
wvrstate     object      5       5   64409
upin         object   4847    4714   59567
specialty    object  62552     185    1862
dob         float64  63545   20255     869
state        object  64410      60       4
address      object  64411   61541       3
lastname     object  64412   26216       2
firstname    object  64413   10418       1
city         object  64413    9455       1
npi           int64  64414       1       0
general      object  64414      85       0
zip          object  64414   16589       0
excltype     object  64414      22       0
excldate      int64  64414    2033       0
reindate      int64  64414       1       0
waiverdate    int64  64414       7       0
midname      object  64414    7613       0
exyear        int64  64414      43       0
exmonth       int64  64414      12       0

In [27]:
x = LEIE['npi'].value_counts()

In [28]:
x.value_counts()

1        5069
2          97
3           2
67207       1
Name: npi, dtype: int64

In [29]:
LEIE[LEIE['npi']!=0].shape

(5269, 18)

In [30]:
LEIE[LEIE['npi']==0].shape

(67207, 18)

In [31]:
LEIE.shape

(72476, 18)

In [32]:
LEIE.columns

Index(['lastname', 'firstname', 'midname', 'busname', 'general', 'specialty',
       'upin', 'npi', 'dob', 'address', 'city', 'state', 'zip', 'excltype',
       'excldate', 'reindate', 'waiverdate', 'wvrstate'],
      dtype='object')

In [33]:
LEIE['excltype'] = LEIE['excltype'].str.strip()

## Matching npi

In [34]:
x = LEIE[LEIE['npi']!=0]
x[x.npi.duplicated()].shape #101 duplicated npis

(101, 18)

In [35]:
LEIE[LEIE.npi!=0].shape[0] #5269 npis not zero

5269

In [36]:
LEIE.npi.nunique() #5169 unique npi

5169

In [37]:
#drop all duplicated npi
LEIE_uniquenpi = LEIE.drop_duplicates(subset='npi')
LEIE_uniquenpi.shape

(5169, 18)

In [38]:
npi_same = pd.merge(df, LEIE_uniquenpi, how='inner',on='npi').npi.values

In [39]:
df['Target'] = df.npi.isin(npi_same) #add label column

In [40]:
#only 278 npi's matched!
df[df.npi.isin(npi_same)].shape

(278, 29)

In [41]:
df.sample(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt,Total_submitted_chrg_amt,Total_Medicare_payment_amt,Target
384073,1033519392,KIDDER,JOELLE,M,PA-C,F,I,1150 N INDIAN CANYON DR,NaN,PALM SPRINGS,92262,CA,US,Physician Assistant,Y,F,99284,"Emergency department visit, problem of high se...",N,23.0,23,23,101.153043,450.869565,74.415217,74.530435,10370.000000,1711.55,False
5304049,1538381074,LIVERMORE,RYAN,W,MD,M,I,1923 N WEBB RD,NaN,WICHITA,67206,KS,US,Orthopedic Surgery,Y,O,99214,Established patient office or other outpatient...,N,84.0,75,84,102.670000,192.726190,72.056190,80.325357,16189.000000,6052.72,False
5552155,1568460442,BIEHL,AMY,W,P.A.C.,F,I,410 2ND ST,NaN,MARIETTA,457502115,OH,US,Physician Assistant,Y,O,99213,Established patient office or other outpatient...,N,18.0,16,18,42.930000,148.148889,29.911111,30.722222,2666.680000,538.40,False
1004222,1104166339,VEKARIYA,BHAVESH,NaN,M.D.,M,I,1350 HICKORY ST,NaN,MELBOURNE,329013224,FL,US,Internal Medicine,Y,F,99233,"Subsequent hospital inpatient care, typically ...",N,230.0,143,230,106.290000,214.591304,82.844565,82.517435,49356.000000,19054.25,False
4065171,1417148081,YONGKUMA,YONGKUMA,C,M.D,M,I,1212 E THREE NOTCH ST,NaN,ANDALUSIA,364203402,AL,US,Internal Medicine,Y,F,99233,"Subsequent hospital inpatient care, typically ...",N,501.0,264,501,98.350000,150.443114,74.687305,82.268862,75371.999999,37418.34,False

In [42]:
LEIE.columns

Index(['lastname', 'firstname', 'midname', 'busname', 'general', 'specialty',
       'upin', 'npi', 'dob', 'address', 'city', 'state', 'zip', 'excltype',
       'excldate', 'reindate', 'waiverdate', 'wvrstate'],
      dtype='object')

## Imputing NPI in LEIE from CMS

In [43]:
# filter where npi is 0
LEIE_0 = LEIE[LEIE['npi']==0]
LEIE_0.shape

(67207, 18)

In [44]:
df['nppes_provider_zip'] = df.nppes_provider_zip.astype(str)
df['zip'] = df['nppes_provider_zip'].str[0:5]

In [45]:
df['zip'].str.len().value_counts()

5    1499547
4      19361
3       2064
1         11
2          2
Name: zip, dtype: int64

In [46]:
df['zip'] = df['zip'].apply(lambda x: x.zfill(5))

In [47]:
df['zip'].str.len().value_counts()

5    1520985
Name: zip, dtype: int64

In [52]:
LEIE_0['zip'] = LEIE_0.zip.astype(str)
LEIE_0['zip'] = LEIE_0.zip.str.slice(0,5,1)

/Users/rad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/rad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [53]:
LEIE_0['zip'].str.len().value_counts()

5    67207
Name: zip, dtype: int64

In [54]:
LEIE_0['zip'] = LEIE_0['zip'].apply(lambda x: x.zfill(5))

/Users/rad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
LEIE_0['zip'].str.len().value_counts()

5    67207
Name: zip, dtype: int64

In [56]:
df.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state',
       'nppes_provider_country', 'provider_type',
       'medicare_participation_indicator', 'place_of_service', 'hcpcs_code',
       'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt',
       'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_Medicare_allowed_amt',
       'average_submitted_chrg_amt', 'average_Medicare_payment_amt',
       'average_Medicare_standard_amt', 'Total_submitted_chrg_amt',
       'Total_Medicare_payment_amt', 'Target', 'zip'],
      dtype='object')

In [ ]:
cols = ['nppes_provider_last_org_name', 'nppes_provider_first_name']
[for col in cols]

In [ ]:
LEIE.columns

In [ ]:
df_indiv = df[df.nppes_entity_code=='I']
df_org = df[df.nppes_entity_code=='O']

In [ ]:
LEIE_indiv = LEIE_0[LEIE_0.busname.isnull()]
LEIE_org = LEIE_0[LEIE_0.busname.notnull()]

In [ ]:
LEIE_0.drop_duplicates()

#### Match entity code==I to Names

In [ ]:
df_indiv.shape

In [ ]:
df_org.shape

In [ ]:
LEIE_indiv.shape

In [ ]:
LEIE_org.shape

In [ ]:
df_indiv.columns

In [ ]:
df

In [ ]:
df_cols = ['nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_zip']