In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
from pathlib import Path

pd.set_option("display.max_columns", 500)

In [2]:
# yearFile valid over set [2012 to 2017]
yearFile = lambda y: Path("data",f"Medicare_Provider_Util_Payment_PUF_CY20{y}.txt")

In [3]:
# find columns to keep to standardize imports
toKeep = lambda c: re.search("(stdev)|(standard)",c.lower()) is None

In [4]:
#test
y17 = yearFile(17)
y12 = yearFile(12)
print(y17)
print(y12)

data/Medicare_Provider_Util_Payment_PUF_CY2017.txt
data/Medicare_Provider_Util_Payment_PUF_CY2012.txt

In [5]:
# test df17
df17 = pd.read_csv(y17,sep="\t",header=0,skiprows=[1],nrows=20)
df17.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,100,96,100,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99218,Hospital observation care typically 30 minutes,N,26,25,26,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,52,51,52,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99220,Hospital observation care typically 70 minutes...,N,59,59,59,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,16,16,16,101.680000,462.812500,79.710000,80.750000

In [6]:
print(df17.columns.str.lower().tolist())

['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender', 'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2', 'nppes_provider_city', 'nppes_provider_zip', 'nppes_provider_state', 'nppes_provider_country', 'provider_type', 'medicare_participation_indicator', 'place_of_service', 'hcpcs_code', 'hcpcs_description', 'hcpcs_drug_indicator', 'line_srvc_cnt', 'bene_unique_cnt', 'bene_day_srvc_cnt', 'average_medicare_allowed_amt', 'average_submitted_chrg_amt', 'average_medicare_payment_amt', 'average_medicare_standard_amt']

df.shape #(56817691, 25)

In [7]:
# creating sampledata for CMS PUF file:
def sampleData(out=Path("data","sample.csv"), sampleSize=200000, start=12, end=17, fileGenerator=yearFile, keepCondition=toKeep):
    for y in range(start,end+1):
        df = pd.read_csv(fileGenerator(y),sep="\t",header=0,skiprows=[1],usecols=keepCondition)
        df.columns = df.columns.str.lower()
        year = 2000 + y
        df["year"] = 2000 + y
        if y == start:
            df.sample(sampleSize).to_csv(out)
        else:
            df.sample(sampleSize).to_csv(out, mode='a', header=False)
        print(f"Finished year {year}")

In [8]:
#sampleData()   #to make the sample.csv file